/* Global Styles */

body {
    background-color: #45B1DF;
}

img {
    display: block;
    width: 100%;
    margin: 0 auto;

}

#container {
    background-color: #B5CBE0;
}

/* Mobile Styles */
@media (min-width: 320px) {
    nav {
        background-color:#BB8489;
        padding: 5px;
        margin-top: 10px;
    }

    nav ul {
        list-style-type: none;
        padding: 0px;
    }

    nav li {
        display: block;
    }

    nav li a {
        display: block;
        height: 30px;
        line-height: 30px;
        background-color: #BB8489;
        color:white;
        font-size: 24px;
        text-decoration: none;
        margin-top: 3px;
    }

    nav li a:hover {
        background-color: #817CCC;
    }

    main {
        padding: 20px;

    }


    h1,h2,h3 {
        text-align: center;
        color: #686866;
        text-shadow: 1px 1px 1px #000;
    }

    footer {
        text-align: center;
        padding: 40px;
        color: #686866;
        text-shadow: 1px 1px 1px #000;
    }
}

/* Tablet Styles */

@media (min-width: 768px) {
    nav li {
        display: inline-block;
    }

    nav li a {
        width: 150px;
        height: 50px;
        line-height: 50px;
        margin: 5px;
    }

    .country_post {
        width: 50%;
        border-radius: 10px;
        box-shadow:#000;
    }
}



/* Desktop Styles */

@media (min-width: 1024px) {
    #container {
        width: 65%;
        margin: 20px auto;
        border: 4px solid black;
        border-radius: 20px;
    }

    nav {
        padding: 0;
        margin: 0;
    }

    nav li a{
        background-color: black;
    }

    hr {
        display: none;
    }

    #multi_col {
        display: flex;
    }

    .col {
        margin: 20px;
        padding: 20px;
        border: 4px sold black;
    }
}